/* Notes.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.notes-list{
  position: relative;
}
.app {
  display: flex;
  /* height: 100vh; */
  margin: auto;
  width: 100%;
  
}
input{
  cursor: pointer;
}
.dlt{
  color: red;
  border-radius: 50%;
}


.modalBackground {
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 99;
  opacity: 0.8;
  text-align: center;
}

.modalContainer {
  background-color:white;
  box-shadow: 0px 0px 0px #888;
  padding: 10px;
  border-radius: 10px;
  height: auto;
  width: 300px;
  text-align: center;
}
.signinhome{
  display: flex;
  justify-content: center;
}
.signnimg{
  height: 200px;
}
.resetform{
  margin: auto;
  width: 50%;
}

.para-error{
  color: red;
}

img{
  height: 500px;
}
.modal-content{
/* height: 180px; */
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.form{
  background-color:rgb(60, 60, 60);
  width: auto;
  /* max-width: 300px; */
  margin: auto;
  padding: 20px;
  height: 500px;
  color: white;
  text-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* text-align: center; */
}
.eye-icon{
  position: relative;
  transform: translateY(-50%);
  left: 40%;
  margin-top: -20px;
  color: #090909;
}
.sidebar {
  width: 20vw;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  transition: width 0.3s;
}

.sidebar h1 {
  margin-bottom: 20px;
  text-align: center;
}

.notes-list {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
  flex-wrap: wrap;
}

.notes-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}

.notes-list li:hover {
  background-color: #e0e0e0;
}
.list-item-body{
  width: 20%;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap; 
  padding: 10px; 
  box-sizing: border-box; 
}
.main {
  width: 80vw;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  transition: width 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  margin-bottom: 20px; 
}

.inputbox{
  border-radius: 50px;
  margin: 5px;
  background-color: whitesmoke;
}

.input-container input,
.update-container input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.input-container button,
.update-container button {
  padding: 10px 20px;
  border-radius: 100%;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  /* transition: background-color 0.3s, border-color 0.3s, color 0.3s; */
}

.input-container button:hover,
.update-container button:hover {
  background-color: whitesmoke;
  color: black;
  border-color: #161616;
  border-radius: 100%;
  flex-wrap: wrap;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.buttons-container button {
  margin: 5px;
}

.update-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50px;
}

.update-container input {
  margin-right: 10px;
  border-radius: 50px;
  background-color: whitesmoke;
}

.toggle-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0e0e0e;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;
  margin: 2px;
}

.toggle-btn:hover {
  background-color: #f5f7f9;
  color: black;

}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .sidebar {
  background-color: #555;
}

.dark-mode .notes-list li {
  background-color: #444;
}

.dark-mode .input-container input,
.dark-mode .update-container input {
  background-color: #555;
  color: #fff;
}

.dark-mode .toggle-btn {
  background-color: #fefefe;
  color: black;
}
.list{
  display: flex;
  justify-content: space-between;
}

@media (min-width:310px) and (max-width:600px){
  .signinhome{
    display: flex;
    flex-direction: column;
  }
  img{
    height: 100%;
    width: 100% ;
    background-size: cover;
  }
  .form{
    width: 100%;
    max-width: auto;
  }
}